#  Open router Cofiguration
OPENROUTER_API_URL='https://openrouter.ai/api/v1'
OPENROUTER_KEY='<YOUR_OPENROUTER_KEY>'
OPEN_SITE_URL='http://localhost:3000'
OPEN_SITE_NAME='RAG Example'

# Models
NLP_MODEL='google/gemma-4-26b-a4b-it:free'

# Embeddings (Using Transform.js Locally)
EMBEDDINGS_MODEL='Xenova/all-MiniLM-L6-v2'

# Neo4j
NEO4J_USER=neo4j
NEO4J_PASSWORD=password
NEO4J_URI=neo4j://localhost:7687
NEO4J_DATABASE=neo4j

# Vector Serach Threshold
NEO4J_VECTOR_THRESHOLD=0.9
